body {
	background: #efefef url(../images/bg-light-4793.png); 
	font:16px/24px Arial, Tahoma, sans-serif; 
	color: #272727; 
	height: 100%;
}
a {
	text-decoration: none;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*footer прижали к полу*/
.page-wrapper {
    min-height: 100%;
    margin-bottom: -96px;
}
* html .page-wrapper {
    height: 100%;
}
.page-buffer {
    height: 96px; /*Это значение зависит от высоты блока footer!!!! Это и есть его высота*/
}
/**********************/

/*Структура сайта*/
div.middle {
	width: 1000px; 
	margin: 0px auto;

}
header.header {
	background: #f5f5f5; 
}
.menu {
	/*border-top: 5px solid #b23600; */
}

/*Шапка сайта*/
div.logo {
	padding-top: 5px; 
	padding-bottom: 0px;}
div.logo {
	display: inline-block;
}


div.account {
	float: right;	
	padding-top: 25px;
	display: inline-block;
}
div.account .account_in {
	display: inline-block;	
	vertical-align:top;	
	padding-top: 15px;
}

div.topmenu {
	display: inline-block;	
	margin-top: 30px;
	float: right;
	vertical-align:top;	
}
.logup a {
	color: #333;
	font-size: 14px;	
	margin-left: 10px;
	border-bottom: 1px dotted #445560;
}

.href a {
	color: #01617d;
	margin-left: 6px;
	border-bottom: 1px dotted #445560;
}

.width_header {
	width: 150px;
}

.width_0 {
	width: 150px;
}
.width_1 {
	width: 280px;
}
.width_2 {
	width: 310px;
} 
.width_3 {
	width: 336px;	
}

.input {
	size: 100px;

	border: 1px solid #ccc;  
	font-size: 14px; 
	padding: 8px 12px;	
	border-radius: 4px;
	color: #555;
	outline: none;
	margin: 2px;	
}
.input:focus {
	border: none;
	color: #000000;
	border: 1px solid #1683a3; /*bfd5dd*/
	box-shadow: 0px 0px 5px 0.3px #1683a3;
	transition: all 0.4s;
}

#submit {  /*что это ?????*/
	
	font-size: 20px; 
	padding: 15px;	
	outline: none;
	margin-top: 20px;	
}
.submit:focus {
	outline: none;
}
.submit {
	font-size: 14px; 
	color: #fff;
	margin: 2px; 	
	background: #b23600; 
	border: 1px solid #a03000;  /*862900*/
	padding: 8px 20px;
	border-radius: 4px; 
	box-shadow: 2px 2px 7px -1px #777; 
	text-shadow: 0px 0px 3px #752300;
	cursor: pointer;
}
.submit:hover {
	color: #f5f5f5; 
	background: #a03000; /*#068bac */
	border: 1px solid #8e2b00;/*#046d88; */
	text-shadow: 0px 0px 3px #034E61;
	box-shadow: 0px 0px 5px 0.3px #777;
	transition: all 0.3s;
}
.submit:active {
	background: #8e2b00; 
	border: 1px solid #7c2500;
	box-shadow: 0px 0px 5px 0.3px #777;
}


.account a.account_in {
	color: #333;
	font-size: 14px;	
	border-bottom: 1px dotted #445560;
}
.account a.account_img {
	width: 42px; 
    height: 49px;
	background: url('../images/12.png');
	display: inline-block;
}
.account a.account_img:hover {
	transition: all 0.4s;
	background: url('../images/11.png');
}

a.account_in:hover ~ a.account_img {
	transition: all 0.4s;
	background: url('../images/11.png');
}  



/********************************Главное меню*/

.selected {
	/*background: #b23600 !important; */
	background: #b23600 !important; 

}
.selected2 {
	/*background: #b23600 !important; */
	color: red; 

}

.selected a { 
	color: #fff !important;
}

.selected li {
	
} 

.active > a {
    color: #fff;
    padding: 2px 5px;
    background-color: #f60;
}

.menu {
	/*box-shadow: 0 0 7px #999;*/
	background: #1683a3; 
	/*border: 1px solid #016c8b;  границы*/ 
	border-right: none; 
	border-left: none;
}
.menu ul {
	margin: 0px;
	padding: 0px; 
	list-style: none; 
	text-align: center;
}
.menu ul li {
	
	
	display: inline-block; 
}
.menu ul li:hover { 
	transition: all 0.4s;
	/*background: linear-gradient(to bottom, #f5f5f5 0%, #fff 100%); */
	background: #b23600; 
}
.menu ul li:hover a { 
	color: #fff;
}
.menu ul li a { 
	color: #fff; 
	text-transform: uppercase; 
	text-shadow: 0px 0px 0px #0b4455;
}
.menu ul>li>a {
	display: block; 
	padding: 11px 30px;
}


/**********************************Контент сайта*/
div.fon {
	background: #fff; 
	border: 1px solid #ccc; 
	border-top: none; 
	padding: 30px 40px;
	
	box-shadow: 4px 4px 6px -1px rgba(0,0,0,0.2), -4px 4px 6px -1px rgba(0,0,0,0.2);	

}
/*div.fon div.clear {border-bottom: 1px dashed #ccc; }*/
div.block {
	width: 440px; 
	float: left; 
	margin-bottom: 40px;
}
div.block:nth-of-type(even) { 	
	float: right;
}
div.block a p {
	color: #272727;
}
div.anons {
	background: #f5f5f5; 
	border: 1px solid #ccc; 
	border-radius: 3px; 
	padding: 20px;
}
div.anons:hover {
	background: #e0eff4; 
	border: 1px solid #bfd5dd; 
	transition: all 1s;
}
div.anons img {
	box-shadow: 1px 1px 5px #777;
}
div.anons h3 {
	font-size: 20px; 
	font-weight: normal; 
	margin: 20px 0 10px; 
	padding: 0px; 
	color:#01617d; 
	line-height: 20px;
}
div.anons p {
	text-shadow:1px 1px 0 #fff;
}

/*******************************Страница Авиабилеты*/
.hr_search_tickets {
 	border: none; 
    background-color: #1683a3;     
    height: 2px; 
}
.margin {
	width: 32px;
}
.found_form {
	color: #515151;
	background: #f5f5f5; 
	border: 1px solid #ccc; 
	border-radius: 3px; 
	padding: 30px;
	margin-bottom: 30px;
}
.found_form h3 {

	font-size: 16px; 
	font-weight: normal; 	
	color:#01617d;  
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.found_form h2 {
	font-size: 22px; 
	font-weight: normal; 	
	color:#b23600; 
	line-height: 20px;	
	margin-top: 10px;
}
.found_form p {
	text-shadow:1px 1px 0 #fff;
}


.inline_block {	
	display: inline-block;	
	 
}
.owerflow_hide {
overflow: hidden;
}

.radio_choise span {
	font-size: 16px; 
	font-weight: normal; 	
	color:#01617d; 
	line-height: 20px;
	margin-bottom: 0px;
}

div.clear_both {clear:both;}


/* вариант кнопки
div.found_form a {
	font-size: 14px; 
	color: #fff;
	background: #018caf; 
	margin: 2px; 		
	border: 1px solid #046d88; 
	padding: 8px 8px;
	border-radius: 4px; 
	box-shadow: 2px 2px 7px -1px #777; 
	text-shadow: 0px 0px 3px #752300;}
div.found_form a:hover {
	background: #068bac; 
}
div.found_form a:active {
	transition: all 0.1s;
	background: #068bac; 
	color: #f5f5f5; 
	border: 1px solid #068bac; 
	text-shadow: 0px 0px 3px #034E61;
	box-shadow: 0px 0px 5px 0.3px #018caf;
}
*/
.button_swap_wrapper {
	/*overflow: none;*/
	margin-bottom: -100px;
	vertical-align: top;
}

.button_swap {	
	margin-top: 38px;
	border: 1px solid #1683a3; 
	font-size: 14px; 
	padding: 8px 8px;
	border-radius: 4px;
	color: #fff;
	background-color: #018caf ;
	outline: none;
	cursor: pointer;
}
.button_swap:hover {
	box-shadow: 0px 0px 5px 0.3px #1683a3;
	transition: all 0.4s;
}
.button_swap:active {
	transition: all 0.0s;
	background-color: #1683a3 ;
}


.select_class select {	
	width: 306px;
}

.button {	
	border: 1px solid #1683a3; 
	font-size: 20px; 
	padding: 15px;
	border-radius: 4px;
	color: #fff;
	background-color: #018caf ;
	outline: none;
	margin-top: 20px;	
	width: 100%; 
	cursor: pointer;
}
.button:hover {
	box-shadow: 0px 0px 5px 0.3px #1683a3;
	transition: all 0.4s;
}
.button:active {
	transition: all 0.0s;
	background-color: #1683a3 ;
}


/*Подвал*/
footer {

	margin-top: 20px;
	background: #f5f5f5;	
}

.parentbox {
	display: flex;
	justify-content: center;
}
.box {
	flex: 1;
}

.left {
	flex: 1;
}
.right {
	flex: 1;
}
#box-1 {
	flex: 1;
	text-align: center;
}
#box-2 {
	width: 64px;
}
#box-3 {
	text-align: center;
	flex: 1;
}

#left {
	text-align: left;
	width: 274px;
}
#right {
	text-align: right;
	flex: 1;
}



footer .connect  {
	margin-top: 15px;	

}

footer .connect2  {
	margin-top: 20px;	

}

footer {
	border-top: 5px solid #b23600; /*bad405*/
}

footer .connect a#vkontakte {
	width: 35px; 
    height: 35px;
    background: url("../images/icon-1/VK.png");
    background-size: cover; 
	display: inline-block;
}
footer .connect a#facebook {
	width: 35px; 
    height: 35px;
    background: url("../images/icon-1/FB.png");
    background-size: cover; 
	display: inline-block;
}
footer .connect a#instagram {
	width: 35px; 
    height: 35px;
    background: url("../images/icon-1/Twitter.png");
    background-size: cover; 
	display: inline-block;
}
footer .connect a#odnoklasniki {
	width: 35px; 
    height: 35px;
    background: url("../images/icon-1/Odnoklasniki.png");
    background-size: cover; 
	display: inline-block;
}
footer .connect a#gmail {
	width: 35px; 
    height: 35px;
    background: url("../images/icon-1/G.png");
    background-size: cover; 
	display: inline-block;
}


/*Личный кабинет страница*/
.personal_aside {
	height: 91px;
	margin-right: 20px;
	float: left;		
	background: #fafafa; 
	border: 1px solid #ccc; 
	border-radius: 3px; 
	padding: 20px;	
	width: 180px;
}

.personal_aside h3 {
	font-size: 16px; 
	font-weight: normal; 	
	color:#01617d; 
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-top: 10px;
}

.personal_aside p {text-shadow:1px 1px 0 #fff;}

ul#kokoko {margin: 0px; padding: 0px; list-style-type: none;}
ul#kokoko li:hover h3{ 
	transition: all 0.5s;
	font-weight: bold;
}


/*Страницы регистрации*/

.registration_block {	

	background: #fafafa; 
	border: 1px solid #ccc; 
	border-radius: 3px; 
	padding: 40px;		
	padding-top: 10px;
}

.registration_block h3 {
	font-size: 16px; 
	font-weight: normal; 	
	color:#01617d; 
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-top: 10px;
}

.registration_block h2 {
	font-size: 22px; 
	font-weight: normal; 	
	color:#01617d; 
	line-height: 20px;	
	margin-top: 20px;
}

.registration_block p {text-shadow:1px 1px 0 #fff;}



.registration_block .proc {
	width: 100%; 
}






/*Таблица полетов*/
table {
	width: 100%;
	border-collapse: separate;
	/*border-spacing: 0;*/
	text-align: left;
	
	border-radius: 4px;
}

.select_flight td {

	padding: 10px;
	background: white;
	border-bottom: none;
	border-radius: 4px;
}

td, th {
    /*padding: 3px;  Поля вокруг содержимого таблицы */
}
th {

    border-radius: 4px;
	/*border: 1px solid #ececec; */
	padding: 10px;
	color: #fff;  /*445560*/
    background: #44B5D9; /* bad405 Цвет фона 2c9e52 */
}
td {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	height: 1px;
	padding-left: 10px;
	padding-right: 0px;
	color: #515151; 
	
	border-bottom: 1px solid #ececec;

}
tr:hover .active {	
	background: linear-gradient(to bottom, #9bddff 0%, #66ccff 100%) !important;
	/*background: linear-gradient(to bottom, #b9d305 0%, #b9d305 100%);*/
}

.active {
	height: 100%;
	width: 10px;
	padding: 0px;
	margin: 0px;
	
	border-radius: 20px;
}
.active_td {
	
	padding-left: 0px;
	width: 1px;
	
}

tr:nth-child(2n+1) {
    /*background: #f5f5f5;  это чтобы полоски через одну были разного цвета по очереди*/
} 

td div {
	width: 100%;
}


/*главная*/
.green_block {	
	float: left; 	
	margin: 6px;		
	vertical-align:bottom;
}

.green_block button {
	text-align: left;
	color: #fff;
	margin: 0;
  	padding: 0;
  	background: none;
  	border: none;
  	cursor: pointer;
}


div.green {
	background: #2c9e52 url("../images/spring-2.png") no-repeat 100% 0; 
	width: 175px;	
	height: 130px;
	padding: 20px 20px;
}
div.green:hover {
	transform:  scale(1.1);
	transition: all 0.3s; 	
}

div.green h3 {
	font-size: 16px; 
	font-weight: normal; 
	margin: 10px 0 0px; 
	padding: 0px; 
	color:#fff; 
	line-height: 20px;
}
div.green p {
	font-size: 24px;
}

div.green p span {
	font-size: 16px;
}

/*таблица рандомных рейсов*/
.random_flight h3 {
	font-size: 24px; 
	font-weight: normal; 
	margin: 20px 0 10px; 
	padding: 0px; 
	color:#01617d; 
	line-height: 20px;
	margin-left: 10px;
}

.popular_flight h3 {
	font-size: 24px; 
	font-weight: normal; 
	margin: 20px 0 10px; 
	padding: 0px; 
	color:#01617d; 
	line-height: 20px;
	margin-left: 10px;
}


/*radio input */
.td_price2 {	
	padding: 0px;

	width: 120px;


	border: 1px solid white; 

}
td input[type="radio"]{
    visibility:hidden;
}
.radio_buttons2  input{
	margin-left: -15px; 

}
.radio_buttons2 label div {
    /*text-align: center; !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! чтобы по центру блока цветного был текст. вместо этого сделал нижнее*/
    text-align: left;
    padding-left: 10px;
     
}
.radio_buttons2 label {
	text-align: left;
	padding: 16px 0px;    /*регулирует высоту строк таблицы!!!!!!!!!!!*/
	height: 100%;
    display: block;    
    margin-top: -26px;    
    border: 1px solid #ececec;
    /*background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);*/
    cursor: pointer;
    border-radius: 3px;
    background: white;
}
.radio_buttons2 input:checked + label {
    background: linear-gradient(to bottom, #d1e25c 0%, #b9d306 100%);
    border-color: #e4eea1 #b4c733 #9db305 #d0e259 !important;
    cursor: default !important;
    border-radius: 3px;
}
.radio_buttons2 input:checked > .active_td div {
    background: tomato;
}

.radio_buttons2 label:hover {
	border-color: #8cc8e6 #87d7fe #66ccff #78c1e6;
	background: linear-gradient(to bottom, #9bddff 0%, #66ccff 100%);
}









.radio_buttons  {
	min-height: 10px;
	
    height: 1px;
    float: left;
}
.radio_buttons input {
    position: absolute;
     left: -9999px;
}

.radio_buttons label {
	height: 100%;
    display: block;    
    margin-top: -25px;    
    border: 1px solid #ececec;
    /*background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);*/
    cursor: pointer;
    border-radius: 3px;
}
.radio_buttons input:checked + label {
    background: linear-gradient(to bottom, #d1e25c 0%, #b9d306 100%);
    border-color: #e4eea1 #b4c733 #9db305 #d0e259 !important;
    cursor: default !important;
    border-radius: 3px;
}
.radio_buttons label:hover {
	border-color: #8cc8e6 #87d7fe #66ccff #78c1e6;
	background: linear-gradient(to bottom, #9bddff 0%, #66ccff 100%);
}

.td_price {
	width: 120px;
	padding: 1px 0px;

	border: 1px solid white; 
}


/*вы выбрали*/
.select_tickets {
	display: inline-block;
	margin-top: 20px;
	padding-bottom: 10px;
	background: #fbfbfb; 
	border: 1px solid #ccc; 
	border-radius: 3px; 
	padding: 20px;
}
.select_tickets h3 {
	font-size: 20px; 
	font-weight: normal; 	
	margin: 20px 0 10px; 
	padding: 0px; 
	color:#01617d; 
	line-height: 20px;
}
.select_tickets p {
	text-shadow:1px 1px 0 #fff;
}

.select_flights {	
	margin-top: 40px;
	margin-bottom: 20px;
}
.select_flights h3 {
	font-size: 20px; 
	font-weight: normal; 	
	margin: 20px 0 10px; 
	padding: 0px; 
	color:#01617d; 
	line-height: 20px;
}
.select_flights p {
	text-shadow:1px 1px 0 #fff;
}

.hr_select_flights {
 	border: none; 
    background-color: #1683a3;     
    height: 1px; 
}




.center {
	text-align: center;
}
.not_found_tickets {
	background: #f5f5f5; 
	border: 1px solid #ccc; 
	border-radius: 3px; 
	padding: 30px;
	margin-bottom: 30px;
}
.not_found_tickets h3 {

	font-size: 16px; 
	font-weight: normal; 	
	color:#01617d; 
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.not_found_tickets p {
	text-shadow:1px 1px 0 #fff;
}



/*покупка билета - ввод личных данных*/
.user_info {
	display: block;
}
.buy_form {
	background: #f5f5f5; 
	border: 1px solid #ccc; 
	border-radius: 3px; 
	padding: 30px;
	padding-top: 30px;
	margin-bottom: 30px;
}
.buy_form h3 {
	
	font-size: 16px; 
	font-weight: normal; 	
	color:#01617d; 
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-top: 5px;
}
.buy_form p {
	text-shadow:1px 1px 0 #fff;
}

.select_document {
	margin-left: 30px;
	display: inline-block;	
	
}
.select_document select {	
	width: 306px;
}
.margin_left {
	margin-left: 32px;
}
legend { 
	float: center;
	text-align: center; 
	color:#01617d; 
	font-size: 18px; 	
}
fieldset {
	padding: 10px 40px 10px 40px;
	margin-bottom: 30px;
	background: #f5f5f5; 
	border: 1px solid #ccc; 
	/*border-radius: 3px; */
	border-left: none;
	border-right: none;
	border-bottom: none;    
}
.flights_table {
	padding: 10px 0px;
}
.flights_table table {
	margin-top: 15px;
}


.margin_bottom {
	margin-bottom: 20px;
}
.margin_top {
	margin-top: 0px;
}


.in {
	margin-top: 7px;
	padding: 4px 20px;
	vertical-align: top;
	display: inline-block;	
	
	
}


/*мои билеты*/
.my_tickets {	
	margin-left: 240px;
	border-radius: 3px; 
	text-align: left;		
	padding: 20px 20px 20px 20px;			
	
	border: 1px solid #ccc; 
	background: #fafafa;
}
.my_tickets .content {
	word-break: break-all;
} 

.my_tickets h3 {
	font-size: 16px; 
	font-weight: normal; 	
	color:#01617d; 
	line-height: 20px;	
	margin-top: 10px;
	margin-bottom: 5px;
}
.my_tickets h2 {
	font-size: 22px; 
	font-weight: normal; 	
	color:#01617d; 
	line-height: 20px;	
	margin-top: 10px;
}

.my_tickets p {text-shadow:1px 1px 0 #fff;}


.button2 {	
	margin-left: 10px;
	width: 165px;
	border: 1px solid #1683a3; 
	font-size: 15px; 
	padding: 10px 15px;
	border-radius: 4px;
	color: #fff;
	background-color: #018caf ;
	outline: none;	
	cursor: pointer;
}
.button2:hover {
	box-shadow: 0px 0px 5px 0.3px #1683a3;
	transition: all 0.4s;
}
.button2:active {
	transition: all 0.0s;
	background-color: #1683a3 ;
}

.table {
	margin-top: 20px;	
}
.table td {
	padding-top: 5px; 
	padding-bottom: 5px; 
}

.mg_top {
	margin-top: 20px;
}


/*menu*/
.avatar-in-header {
    float: right;
    padding: 5px;
    margin-top: 18px; /*КРУЖОК ДВИГАЕМ*/
    margin-right: 5px;    
    height: 40px;
    border-radius: 50%;
    border: 1px solid #bfd5dd;
    background: #f5f5f5;
}

#menu_body {
	
	margin-right: 10px;
}

#menu_body ul {
	margin: 0;
}

#menu_body li ul {
    display: none;
}

#menu_body li:hover ul, #menu_body li.over ul {
    display: block;
}

#menu_body {
    float: right;
    margin-top: 5px;
}

#menu_body a {
    display: block;
    width: 200px;    
    padding: 10px 20px;   /*высота элементов*/
}

#menu_body ul li {
    list-style-type: none;
    margin-left: -40px;
    
}

#menu_body ul li a {
    color: #fff;
    text-decoration: none;    
}

#menu_body ul li a:hover {
    background: #44B5D9; 
}

#menu_body ul li ul li {
    background: #1683a3;
}



.right_exit {
	float: right;
	margin-top: 37px;
}



div.clear {clear:both;}



.my_tickets fieldset {
	padding: 15px 40px 15px 40px;
	margin-top: 0px;
	margin-bottom: 30px;
	background: #fff; 
	border: 1px solid #ccc; 
	border-radius: 3px;    
	

}

.change {
	float: right;
}

.change a {
	color: #333;
	font-size: 16px;	
	margin-left: 5px;
	border-bottom: 1px dotted #445560;
}


.field {
	width: 200px;
	
	display: inline-block;
}



.date_from {
	
	height: 16px;
}

/*кнопка в таблице онлайн*/
.button_online {	
	border: 1px solid #d51c38; 
	border-color: #e4eea1 #b4c733 #9db305 #d0e259 !important;
	font-size: 20px; 
/*	padding: 15px; */
	border-radius: 4px;
	color: #fff;
	background: linear-gradient(to bottom, #d1e25c 0%, #b9d306 100%);
	outline: none;
	
	width: 100%;
	min-height: 70px;
	cursor: pointer;
}
.button_online:hover {
	box-shadow: 0px 0px 5px 0.3px #999;
	transition: all 0.2s;
}
.button_online:active {
	transition: all 0.0s;
	background-color: #1683a3 ;
}


.table_online td {
	text-align: center;
	padding-left: 0px;
}
.table_online th {
	padding: 0px;
	text-align: center;
	padding: 5px;	
}

.info {
	width: 620px;
}

.info_tickets {
	width: 660px;
} 